p {
  color: #4d4d4d;
  font-size: 11px;
  text-align: center;
  line-height: 1;
}

.footer {
  margin-top: 65px;
}
.footer p a {
  text-decoration: none;
  color: #4d4d4d;
}
.footer p a:hover {
  text-decoration: underline;
}
