.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  color: #484848;
  font-weight: 400;
  font-size: 24px;
  transition: all 0.5s ease;
}
.item-name {
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}
.dark-item {
  background-color: #76abae;
  transition: all 0.5s ease;
  color: #fff;
}
.side-menu {
  display: flex;
  align-items: center;
  gap: 5%;
}

.completed {
  text-decoration: line-through;
  color: #949494;
}
